* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
    scroll-behavior: smooth;
}



/* ----------------------------------------------- */
/* NAVBAR TAB */
/* ----------------------------------------------- */

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    font-family: "Nanum Brush Script", cursive;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}



.navbar__links:hover {
    color: #ffc2d1;
    transition: all 0.3s ease;
}


@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 30vh;
        font-size: 1.3rem;
    }

    #navbar__logo {
        padding-left: 25px;
        font-size: 2rem;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
        height: 40px;
    }

    .navbar__links {
        text-align: center;
        padding: .1rem;
        width: 100%;
        display: table;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



/* ----------------------------------------------- */
/* INTRODUCTION TAB */
/* ----------------------------------------------- */

.introduction {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding-top: 20px;
}

.introduction__container {
    display: grid;
    grid-template-rows: .5fr .5fr;
    grid-row-gap: 5rem;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.main__introduction__text__container {
    padding-bottom: 1rem;
}

.introduction__heading {
    font-family: "Nanum Brush Script", cursive;
    font-style: italic;
    font-size: 60px;
    margin-bottom: 24px;
    color: #fff;
    padding-right: 50px;
    text-align: center;
}

.introduction__description {
    font-size: 18px;
    padding-top: 5px;
    padding-right: 20px;
    color: #fff;
    text-align: center;
}

.introduction__description span {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffc2d1;
}

.introduction__video__container {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}

.introduction__video {
    width: 800px;
    height: 450px;
    border-radius: 1%;
}

@media screen and (max-width: 960px) {
    .introduction {
        background: #000000;
        background: linear-gradient(to right, #161616, #000000);
        padding-top: 20px;
    }
    
    .introduction__container {
        display: grid;
        grid-template-rows: 1fr .5fr;
        grid-row-gap: 3rem;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 90%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .main__introduction__text__container {
        padding-bottom: 1rem;
    }
    
    .introduction__heading {
        font-size: 56px;
        margin-bottom: 12px;
        padding-right: 25px;
    }
    
    .introduction__description {
        font-size: 14px;
        padding-top: 15px;
        padding-right: 10px;
    }
    
    .introduction__description span {
        font-size: 22px;
        font-family: 'Courier New', Courier, monospace;
        padding-left: 10px;
        padding-right: 10px;
        color: #ffc2d1;
    }
    
    .introduction__video__container {
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
    }
    
    .introduction__video {
        width: 100%;
        height: 100%;
        max-width: 496px;
        max-height: 279px;
        min-width: 304px;
        min-height: 171px;
        border-radius: 1%;
    }
}



/* ----------------------------------------------- */
/* TRANSITION TAB */
/* ----------------------------------------------- */

.transition {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.transition__container {
    display: grid;
    grid-template-rows: .1fr;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    text-align: center;
}

.transition__content {
    display: grid;
    grid-template-rows: 1fr;
    max-width: 1500px;
    margin: 0 auto;
    height: 100%;
    min-width: 1000px;
    text-align: center;
    border-top: 2px solid white;
    /* background-color: #233223; */
}

@media screen and (max-width: 960px) {
    .transition__content {
        display: grid;
        grid-template-rows: 1fr;
        max-width: 1500px;
        margin: 0 auto;
        height: 100%;
        min-width: 600px;
        text-align: center;
        border-top: 2px solid white;
        /* background-color: #233223; */
    }
}

@media screen and (max-width: 600px) {
    .transition__content {
        display: grid;
        grid-template-rows: 1fr;
        max-width: 1500px;
        margin: 0 auto;
        height: 100%;
        min-width: 300px;
        text-align: center;
        border-top: 2px solid white;
        /* background-color: #233223; */
    }
}



/* ----------------------------------------------- */
/* EXPERIENCE TAB */
/* ----------------------------------------------- */

.experience {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
}

.experience__container {
    display: grid;
    grid-template-rows: 1fr;
    max-width: 1500px;
    margin: 0 auto;
    height: 90%;
    text-align: left;
    /* padding-left: 10px; */
    /* background-color: #233223; */
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    max-width: 1500px;
    margin: 0 6%;
    height: 90%;
    text-align: center;
    /* background-color: #233223; */
}

.experience__text__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    max-width: 1500px;
    margin: 0 6%;
    text-align: center;
    border-radius: 1%;
    /* background-color: #222222; */
}

.experience__text {
    font-family: "Nanum Brush Script", cursive;
    font-size: 40px;
    color: #fff;
    width: 100%;
    padding: 2rem 0px;
}

.item__container {
    display: grid;
    grid-template-columns: .1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    margin: 0px 150px;
}

.item__image {
    height: 100%;
    width: 100%;
    max-width: 50px;
    min-width: 50px;
    object-fit: contain;
}

@media screen and (max-width: 1400px) {
    .experience__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        max-width: 1500px;
        margin: 0 6%;
        height: 90%;
        text-align: center;
        /* background-color: #233223; */
    }

    .experience__text__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        max-width: 1500px;
        margin: 0 6%;
        text-align: center;
        border-radius: 1%;
        /* background-color: #222222; */
    }
}

@media screen and (max-width: 1300px) {
    .experience__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        max-width: 1500px;
        margin: 0 auto;
        height: 90%;
        text-align: center;
        /* background-color: #233223; */
    }

    .experience__text__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        max-width: 1500px;
        margin: 0 auto;
        text-align: center;
        border-radius: 1%;
        /* background-color: #222222; */
    }
}

@media screen and (max-width: 1200px) {
    
    .experience__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        max-width: 1500px;
        margin: 0 6%;
        height: 90%;
        text-align: center;
        /* background-color: #233223; */
    }
    
    .experience__text__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        max-width: 1500px;
        margin: 0 auto;
        text-align: center;
        border-radius: 1%;
        /* background-color: #222222; */
    }
    
}

@media screen and (max-width: 1100px) {

    .experience__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        max-width: 1500px;
        margin: 0 6%;
        height: 90%;
        text-align: center;
        /* background-color: #233223; */
    }
    
    .experience__text__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 10px;
        max-width: 1500px;
        margin: 0 auto;
        text-align: center;
        border-radius: 1%;
        /* background-color: #222222; */
    }

    .experience__text {
        font-family: "Nanum Brush Script", cursive;
        font-size: 35px;
        color: #fff;
        width: 100%;
        padding: 2rem 0px;
    }
    
    .item__container {
        display: grid;
        grid-template-columns: .1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        margin: 0px auto;
    }
    
    .item__image {
        height: 100%;
        width: 100%;
        max-width: 45px;
        min-width: 45px;
        object-fit: contain;
    }

}

@media screen and (max-width: 960px) {
    .experience {
        background: #000000;
        background: linear-gradient(to right, #161616, #000000);
    }
    
    .experience__container {
        display: grid;
        grid-template-rows: 1fr;
        max-width: 1500px;
        margin: 0 auto;
        height: 90%;
        text-align: left;
        /* padding-left: 10px; */
        /* background-color: #233223; */
    }
    
    .experience__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        max-width: 1500px;
        margin: 0 auto;
        height: 90%;
        text-align: center;
        /* background-color: #233223; */
    }
    
    .experience__text__container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        max-width: 1500px;
        margin: 0 auto;
        text-align: center;
        border-radius: 1%;
        /* background-color: #222222; */
    }
    
    .experience__text {
        font-family: "Nanum Brush Script", cursive;
        font-size: 30px;
        color: #fff;
        width: 100%;
        padding: 2rem 0px;
    }
    
    .item__container {
        display: grid;
        grid-template-columns: .1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        margin: 0px auto;
    }
    
    .item__image {
        height: 100%;
        width: 100%;
        max-width: 45px;
        min-width: 45px;
        object-fit: contain;
    }
}



.feature__highlight {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding-top: 20px;
}

.feature__highlight__container {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.language-csharp {
    width: 898px;
    height: 701px;
}



/* ----------------------------------------------- */
/* FOOTER TAB */
/* ----------------------------------------------- */

.footer__container {
    background-color: #131313;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media {
    max-width: 2000px;
    width: 100%;
}

.media--wrap {
    display: grid;
    grid-template-columns: .1fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 2000px;
    margin: 4px auto 0 auto;
}

.footer__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
}

.footer__text__links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}


#footer__logo {
    color: #fff;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 0;
}

.footer__mail {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 0;
}

.footer__mail:hover {
    color: #ffc2d1;
}

.footer__phone__number {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 0;
}

.footer__phone__number:hover {
    color: #ffc2d1;
}

.footer__image__links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr;
    grid-row-gap: 30px;
    margin: 10px 0px;
}

.footer__linkedin__link {
    content: url(linkedin_logo_white.png);
    height: auto;
    width: 30px;
}

.footer__linkedin__link:hover {
    content: url(linkedin_logo_hover.png);
}

.footer__github__link {
    content: url(github_logo_white.png);
    height: auto;
    width: 30px;
    align-items: end;
}

.footer__github__link:hover {
    content: url(github_logo_hover.png);
}

.copyright__container {
    text-align: right;
}

.website__rights {
    color: darkgrey;
    font-size: 1rem;
}


@media screen and (max-width: 960px) {
    
    .media--wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .1fr;
        text-align: center;
    }
    
    #footer__logo {
        margin-bottom: 0rem;
    }

    .copyright__container {
        text-align: center;
    }

    .website__rights {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        font-size: .8rem;
    }
}


@media screen and (max-width: 480px) {
    .footer__links--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}