* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Hack, monospace;
    scroll-behavior: smooth;
    scrollbar-color: #b94366 #000000;
}

*::selection {
    background: #FF69B4;
}



/* ----------------------------------------------- */
/* NAVBAR TAB */
/* ----------------------------------------------- */

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    padding-left: 50px;
}

#navbar__logo {
    font-family: "Nanum Brush Script", cursive;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3.5rem;
}

.navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #ffc2d1;
    transition: all 0.3s ease;
}

.navbar__socials {
    display: flex;
    margin-right: 50px;
    margin-bottom: 0px;
}

#navbar__linkedin__link {
    width: 80px;
}

.linkedin__link {
    content: url(General/linkedin_logo_white.png);
    height: auto;
    width: 40px;
}

.linkedin__link:hover {
    content: url(General/linkedin_logo_hover.png);
}

#navbar__github__link {
    width: 80px;
}

.github__link {
    content: url(General/github_logo_white.png);
    height: auto;
    width: 40px;
}

.github__link:hover {
    content: url(General/github_logo_hover.png);
}

#mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
}

@media screen and (max-width: 1105px) {
    #navbar__logo {
        font-size: 2rem;
    }
}


@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1500px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 30vh;
        font-size: 1.3rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
        height: 40px;
    }

    .navbar__links {
        text-align: center;
        padding: .1rem;
        width: 100%;
        display: table;
    }

    .navbar__socials {
        display: flex;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .linkedin__link {
        height: auto;
        width: 40px;
    }
    
    .github__link {
        height: auto;
        width: 40px;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}



/* ----------------------------------------------- */
/* MAIN TAB */
/* ----------------------------------------------- */

.main {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 50px 0 200px 0;
}

.main__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 5rem;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.main__text__container {
    padding-bottom: 2rem;
}

.main__heading {
    font-family: "Nanum Brush Script", cursive;
    font-style: italic;
    font-size: 60px;
    margin-bottom: 24px;
    color: #fff;
    padding-right: 50px;
    text-align: left;
}

.main__description {
    font-size: 18px;
    padding-top: 30px;
    padding-right: 20px;
    color: #fff;
    text-align: left;
}

.main__description span {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffc2d1;
}

.main__img__container {
    display: grid;
    grid-template-columns: 1fr;
}

.main__image {
    margin: 10px;
    height: auto;
    width: 300px;
    border-radius: 1%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.main__link__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 70px;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    padding: 30px;
}

.item__image {
    height: 100%;
    width: 100%;
    max-width: 50px;
    min-width: 50px;
    object-fit: contain;
}

.highlight {
    border-bottom: 4px solid rgb(255, 143, 171)
}

@media screen and (max-width: 960px) {
    
    .main {
        background: #000000;
        background: linear-gradient(to right, #161616, #000000);
        padding-top: 0px;
    }

    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .9fr;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 90%;
        text-align: center;
        padding: 30px;
        /* background-color: #ff8fab; */
    }    

    .main__heading {
        font-size: 56px;
        margin-bottom: 12px;
        padding-right: 25px;
    }

    .main__description {
        font-size: 14px;
        padding-top: 15px;
        padding-right: 10px;
    }

    .main__description span {
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .main__img__container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    
    .main__image {
        margin: 10px;
        height: auto;
        width: 200px;
        border-radius: 1%;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .main__link__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        height: 90%;
        padding: 30px;
    }

    .item__image {
        height: 100%;
        width: 100%;
        max-width: 50px;
        min-width: 50px;
        object-fit: contain;
    }
    
    .highlight {
        border-bottom: 4px solid rgb(255, 143, 171)
    }
}



/* ----------------------------------------------- */
/* SPECIALISATION TAB */
/* ----------------------------------------------- */

.specialisation {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding-bottom: 10rem;
}

.specialisation__container {
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
    height: 90%;
    text-align: left;
    /* padding-left: 10px; */
    /* background-color: #233223; */
}

.specialisation__header {
    padding: 0 100px;
}

.specialisation__header__text {
    background-color: #b94366;
    font-family: "Nanum Brush Script", cursive;
    font-size: 60px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: left;
    border-radius: 10px;
}

.specialisation__content {
    /* background-color: #233223; */
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 40px;
    place-content: center;
    margin: 0 200px;
}

@media screen and (max-width: 1200px) {
    .specialisation__content {
        margin: 0 auto;
    }
}

@media screen and (max-width: 960px) {
    .specialisation {
        padding-bottom: 10rem;
    }
    
    .specialisation__container {
        display: grid;
        grid-template-rows: 1fr;
        max-width: 1500px;
        margin: 0 auto;
        height: 90%;
        text-align: left;
        /* padding-left: 10px; */
        /* background-color: #233223; */
    }

    .specialisation__header {
        padding: 0 0;
    }
    
    .specialisation__header__text {
        font-size: 35px;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        text-align: left;
    }

    .specialisation__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-column-gap: 20px;
        max-width: 1500px;
        margin: 0 0%;
        padding: 0px 10%;
        height: 100%;
        text-align: center;
    }
}



.card {
    display: grid;
    grid-template-rows: .5fr 1.2fr;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5%;
    /* padding-right: 40px; */
    background-color: #222222;
}

.card__video {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.card__text__container {
    /* background-color: #2b5541; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 10px;
}

.card__header__text {
    font-family: "Nanum Brush Script", cursive;
    font-size: 35px;
    color: #fff;
}

.card__description {
    font-size: 18px;
    color: #fff;
    text-align: left;
}

.card__description span {
    padding-left: 5px;
    padding-right: 5px;
    color: #ffc2d1;
}

@media screen and (max-width: 1200px) {
    .card {
        display: grid;
        grid-template-rows: .5fr 1.2fr;
        width: 400px;
        margin: 0 auto;
        text-align: left;
        border-radius: 5%;
        /* padding-right: 40px; */
        background-color: #222222;
    }

    .card__video {
        width: 100%;
        height: 100%;
        border-radius: 5%;
    }

    .card__text__container {
        /* background-color: #2b5541; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0 10px;
    }

    .card__header__text {
        font-family: "Nanum Brush Script", cursive;
        font-size: 35px;
        color: #fff;
    }

    .card__description {
        font-size: 18px;
        color: #fff;
        text-align: left;
    }

}

@media screen and (max-width: 960px) {
    .card {
        display: grid;
        grid-template-rows: .5fr 1.2fr;
        width: 400px;
        margin: 0 auto;
        text-align: center;
        border-radius: 5%;
        /* padding-right: 40px; */
        background-color: #222222;
    }

    .card__video {
        width: 100%;
        height: 100%;
        border-radius: 5%;
    }

    .card__text__container {
        /* background-color: #2b5541; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0 10px;
    }

    .card__header__text {
        font-family: "Nanum Brush Script", cursive;
        font-size: 35px;
        color: #fff;
    }

    .card__description {
        font-size: 18px;
        color: #fff;
        text-align: left;
    }

    .card__description span {
        padding-left: 5px;
        padding-right: 5px;
        color: #ffc2d1;
    }
}

.read__more {
    font-size: 18px;
    width: 150px;
    height: 50px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    outline: none;
    background-color: #d04c73;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #742a40;
    transition: 0.1s;
}

.read__more:hover {
    background-color: #b94366
}

.read__more:active {
    background-color: #b94366;
    box-shadow: 0 5px #451926;
    transform: translateY(4px);
}

@media screen and (max-width: 960px) {
    .read__more {
        font-size: 18px;
        width: 150px;
        height: 50px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 10px 0px;
        cursor: pointer;
        outline: none;
        background-color: #d04c73;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #742a40;
        transition: 0.1s;
    }
    
    .read__more:hover {
        background-color: #b94366
    }
    
    .read__more:active {
        background-color: #b94366;
        box-shadow: 0 5px #451926;
        transform: translateY(4px);
    }
}



.image__card {
    display: grid;
    grid-template-rows: 1.5fr 1.2fr;
    width: 400px;
    height: 565px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5%;
    /* padding-right: 40px; */
    /* background-color: #222222; */
    background-size: contain;
    background-repeat: no-repeat;
}

.image__card__media {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image__card__text__container {
    /* background-color: #2b5541; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0 10px;
    border-radius: 5%;
    background: linear-gradient(0deg,
    rgba(0, 0, 0, 1) 0%, 
    rgba(0, 0, 0, 1) 25%, 
    rgba(0, 0, 0, 0.8) 75%, 
    rgba(0, 0, 0, 0) 100%);
}

.image__card__header__text {
    font-family: "Nanum Brush Script", cursive;
    font-size: 35px;
    color: #fff;
}

.image__card__description__list {
    list-style-position: inside;
}

.image__card__description {
    font-size: 18px;
    color: #fff;
    text-align: left;
}

.image__card__description span {
    padding-left: 5px;
    padding-right: 5px;
    color: #ffc2d1;
}

@media screen and (max-width: 1200px) {
    .image__card {
        display: grid;
        grid-template-rows: 1.5fr 1.2fr;
        width: 400px;
        height: 565px;
        margin: 0 auto;
        text-align: center;
        border-radius: 5%;
        /* padding-right: 40px; */
        /* background-color: #222222; */
        background-size: contain;
        background-repeat: no-repeat;
    }

    .image__card__text__container {
        /* background-color: #2b5541; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0 10px;
        border-radius: 5%;
        background: linear-gradient(0deg,
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 0, 0, 1) 25%, 
        rgba(0, 0, 0, 0.8) 75%, 
        rgba(0, 0, 0, 0) 100%);
    }

    .image__card__header__text {
        font-family: "Nanum Brush Script", cursive;
        font-size: 35px;
        color: #fff;
    }

    .image__card__description__list {
        list-style-position: inside;
    }

    .image__card__description {
        font-size: 18px;
        color: #fff;
        text-align: left;
    }

}

@media screen and (max-width: 960px) {
    .image__card {
        display: grid;
        grid-template-rows: 1.5fr 1.2fr;
        width: 400px;
        height: 565px;
        margin: 0 auto;
        text-align: center;
        border-radius: 5%;
        /* padding-right: 40px; */
        /* background-color: #222222; */
        background-size: contain;
        background-repeat: no-repeat;
    }

    .image__card__text__container {
        /* background-color: #2b5541; */
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding: 0 10px;
        border-radius: 5%;
        background: linear-gradient(0deg,
        rgba(0, 0, 0, 1) 0%, 
        rgba(0, 0, 0, 1) 25%, 
        rgba(0, 0, 0, 0.8) 75%, 
        rgba(0, 0, 0, 0) 100%);
    }

    .image__card__header__text {
        font-family: "Nanum Brush Script", cursive;
        font-size: 35px;
        color: #fff;
    }

    .image__card__description__list {
        list-style-position: inside;
    }

    .image__card__description {
        font-size: 18px;
        color: #fff;
        text-align: left;
    }

    .image__card__description span {
        padding-left: 5px;
        padding-right: 5px;
        color: #ffc2d1;
    }
}

.itch_read__more {
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
}

#itch-icon {
    content: url(General/itch_logo.png);
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 0 9px #742a40;
    transition: 0.1s;
}

#itch-icon:hover {
    content: url(General/itch_logo_hover.png);
}

#itch-icon:active {
    box-shadow: 0 5px #451926;
    transform: translateY(4px);
}

@media screen and (max-width: 960px) {
    .itch_read__more {
        width: 150px;
        height: 50px;
        cursor: pointer;
        border: none;
        border-radius: 10%;
        background-color: #d04c73;
    }

    #itch-icon {
        content: url(General/itch_logo.png);
        height: 100%;
        width: 100%;
        cursor: pointer;
        border-radius: 10%;
        box-shadow: 0 9px #742a40;
        transition: 0.1s;
    }

    #itch-icon:hover {
        content: url(General/itch_logo_hover.png);
    }

    #itch-icon:active {
        box-shadow: 0 5px #451926;
        transform: translateY(4px);
    }

}



/* ----------------------------------------------- */
/* RECENT PROJECTS TAB */
/* ----------------------------------------------- */

.recent_projects {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding-bottom: 10rem;
}

.recent_projects__container {
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
    height: 90%;
    text-align: left;
    /* padding-left: 10px; */
    /* background-color: #233223; */
}

.recent_projects__header {
    padding: 0 100px;
}

.recent_projects__header__text {
    background-color: #b94366;
    font-family: "Nanum Brush Script", cursive;
    font-size: 60px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: left;
    border-radius: 10px;
}

.recent_projects__content {
    /* background-color: #233223; */
    max-width: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 40px;
    place-content: center;
    margin: 0 200px;
}

@media screen and (max-width: 1200px) {
    .recent_projects__content {
        margin: 0 auto;
    }
}

@media screen and (max-width: 960px) {
    .recent_projects {
        padding-bottom: 10rem;
    }
    
    .recent_projects__container {
        display: grid;
        grid-template-rows: 1fr;
        max-width: 1500px;
        margin: 0 auto;
        height: 90%;
        text-align: left;
        /* padding-left: 10px; */
        /* background-color: #233223; */
    }

    .recent_projects__header {
        padding: 0 0;
    }
    
    .recent_projects__header__text {
        font-size: 35px;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        text-align: left;
    }

    .recent_projects__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, 1fr);
        grid-column-gap: 20px;
        max-width: 1500px;
        margin: 0 0%;
        padding: 0px 10%;
        height: 100%;
        text-align: center;
    }
}



/* ----------------------------------------------- */
/* FOOTER TAB */
/* ----------------------------------------------- */

.footer__container {
    background-color: #131313;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.media {
    max-width: 2000px;
    width: 100%;
}

.media--wrap {
    display: grid;
    grid-template-columns: .1fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 2000px;
    margin: 4px auto 0 auto;
}

.footer__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
}

.footer__text__links {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}


#footer__logo {
    color: #fff;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 0;
}

.footer__mail {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 0;
}

.footer__mail:hover {
    color: #ffc2d1;
}

.footer__phone__number {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 0;
}

.footer__phone__number:hover {
    color: #ffc2d1;
}

.footer__image__links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .1fr .1fr;
    grid-row-gap: 30px;
    margin: 10px 0px;
}

.footer__linkedin__link {
    content: url(General/linkedin_logo_white.png);
    height: auto;
    width: 30px;
}

.footer__linkedin__link:hover {
    content: url(General/linkedin_logo_hover.png);
}

.footer__github__link {
    content: url(General/github_logo_white.png);
    height: auto;
    width: 30px;
    align-items: end;
}

.footer__github__link:hover {
    content: url(General/github_logo_hover.png);
}

.copyright__container {
    text-align: right;
}

.website__rights {
    color: darkgrey;
    font-size: 1rem;
}


@media screen and (max-width: 960px) {
    
    .media--wrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr .1fr;
        text-align: center;
    }
    
    #footer__logo {
        margin-bottom: 0rem;
    }

    .copyright__container {
        text-align: center;
    }

    .website__rights {
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        font-size: .8rem;
    }
}


@media screen and (max-width: 480px) {
    .footer__links--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}